@font-face
  font-family: 'Geomanist'
  src: url('../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype')
  src: url('../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format ('woff')
  src: url('../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2')

@import url('https://fonts.googleapis.com/css?family=Oswald')

//colours
$text-color: #fff
$background-light: #21242c
$nav-background: #ff5252
$nav-highlight: #c44747
$flare-bars: #1a1a1a
$dark-background: #111
$nav-hider: #7b2525
$form-font: #fff
$form-grey: #e1e5f0

//preset widths for devices
$phone: '(min-width: 310px) and (max-width: 767px)'
$tablet: '(min-width:  768px) and (max-width: 1749px)'
$laptop: '(min-width: 1750px) and (max-width: 1987px)'
$large-desktop: '(min-width: 1988px) and (max-width: 3840px)'
$extra-desktop: '(min-width: 3841px) and max-width: 6000px'
$height-fix: '(max-height: 900px)'


//mainpage styles
html
  scroll-behavior: smooth

body
  background-color: $dark-background
  background-image: url('../images/svgbackground.svg')
  background-repeat: no-repeat
  background-size: cover
  color: $text-color
  font-family: 'Geomanist', sans-serif
  font-size: 1em

.main
  display: flex
  height: 100%

.navigation
  order: 2

.content
  display: flex
  flex-direction: column
  font-size: 1em
  margin-left: 6em
  width: 100%

.title
  display: flex
  font-size: 1.5em
  height: 205px


.mainpage
  font-size: 1.5em
  font-weight: 400
  height: 95%
  margin: .5em
  width: 88%

  h2
    padding: .1em

  h4
    color: $nav-background

  ul
    padding-left: 20px

    a
      color: $form-font
      text-decoration: none

      &:visited
        color: $form-font

  li
    background-color: $dark-background
    list-style-type: none
    margin: .2em
    padding: 10px
    transform: skew(8deg)
    width: 45%

    p
      transform: skew(-8deg)

    &:hover
      cursor: pointer
      margin-left: .5em

      .arrow
        opacity: 1
        transform: translate(0)


.container
  display: flex
  flex-direction: column
  max-width: 29vh
  position: fixed
  right: 0
  top: 5vh
  z-index: 1

  a
    margin-bottom: -1%

.media-links
  display: flex
  margin-left: 24em
  margin-top: 4.5em
  width: 10%

  a
    max-width: 100px

    img
      height: 45%
      padding: 1em

    &:hover
      opacity: .5

.behance-vid
  height: 76%
  left: 5%
  position: relative
  top: 7%

.behance-img
  background-image: url('../images/xdmockup.svg')
  background-repeat: no-repeat
  display: none
  height: 70%
  left: 6.5%
  position: absolute
  top: 34%
  width: 27%
  z-index: 1

.behance-hover
  margin-left: 1.5em

  &:hover + .behance-img
    display: block

.liquor-img
  display: none
  height: 60%
  left: 55%
  position: absolute
  top: 47%

.liquor-vid
  height: 80%

.liq-hover

  &:hover + .liquor-img
    display: block

.ato-img
  display: none
  height: 60%
  left: 55%
  position: absolute
  top: 30%

.ato-vid
  height: 80%

.ato-hover

  &:hover + .ato-img
    display: block


.free-img
  display: none
  height: 60%
  left: 55%
  position: absolute
  top: 25%

.free-vid
  height: 80%

.free-hover

  &:hover + .free-img
    display: block


.tutor-img
  display: none
  height: 60%
  left: 55%
  position: absolute
  top: 21%

.tutor-vid
  height: 80%

.tutor-hover

  &:hover + .tutor-img
    display: block

.bigcrew-vid
  height: 59%
  left: 3%
  position: relative
  top: 12%

.bigcrew-img
  background-image: url('../images/thebigcrewback.svg')
  background-repeat: no-repeat
  display: none
  height: 70%
  position: absolute
  right: 13%
  top: 21%
  width: 30%

.bigcrew-hover

  &:hover + .bigcrew-img
    display: block


.peer-img
  display: none
  height: 45%
  position: absolute
  right: 8%
  top: 25%

.peer-hover

  &:hover + .peer-img
    display: block

.sayhello-img
  display: none
  height: 60%
  position: absolute
  right: 13%
  top: 30%

.say-hover

  &:hover + .sayhello-img
    display: block

.rack-img
  display: none
  height: 50%
  position: absolute
  right: 14%
  top: 45%

.rack-hover

  &:hover + .rack-img
    display: block

.kenmore-img
  display: none
  height: 70%
  position: absolute
  right: 14%
  top: 20%

.kenmore-hover
  display: none

  &:hover + .kenmore-img
    display: block


.uq-img
  display: none
  height: 90%
  position: absolute
  right: 14%
  top: 20%

.uq-hover

  &:hover + .uq-img
    display: block

.bottom-divider
  background-image: url('../images/bottom_cutoff.svg')
  background-repeat: no-repeat
  background-size: cover
  height: 100px

.modal-link
  color: $nav-background
  text-decoration: none

.gallery-dark
  opacity: .5

.settings-title
  font-size: 2em
  text-align: center

//articles
.education
  margin-left: .5em
  max-height: 94%
  position: relative
  transition: max-height .3s ease-in

.hide-them-all
  max-height: 0
  opacity: 0
  overflow: hidden
  transition: max-height .3s ease-out
  z-index: -500
  position: absolute

.remove-left
  margin-left: 0%

.article-image
  width: 98% !important
  height: auto

.active-selection
  background-color: $nav-highlight !important
  color: $form-font

  + .tutor-img
      height: 100%

  + .free-img
      height: 100%

  + .ato-img
      height: 100%

  + .liquor-img
      height: 100%

  + .peer-img
      height: 100%

  + .sayhello-img
      height: 100%
      left: 60%

  + .rack-img
      height: 100%
      top: 10%


  .arrow
    opacity: 1
    transform: translate(0)

    path
      stroke: $form-font


.work
  margin-left: 1.6em
  position: relative

.past-projects
  margin-left: 2.5em
  position: relative

  h2
    margin-left: 1.5em

.personal-work
  background-image: url('../images/personalworkback.svg')
  background-size: cover
  margin-left: 5.6em
  padding-left: 4%
  position: relative

  p
    margin-left: 1.5em
    width: 68%

.arrow
  display: inline-block
  opacity: 0
  padding-bottom: -5px
  transform: translateX(-100%)
  transition: all .2s
  width: 1.2rem

  path
    fill: none
    stroke: $form-font
    stroke-width: 1px

//headdings + Logo
h1
  box-sizing: border-box
  font-family: 'Oswald', sans-serif
  font-size: 4em
  line-height: 1em
  margin: .5em 0 1em
  padding: .1em

.logo
  height: 100%
  margin: 2.3em 2em 1em
  width: 100px

h2
  font-family: 'Oswald', sans-serif

.changed
  color: $nav-background !important
  margin-left: 60% !important

//Navigation
#hider
  border: 0
  color: $nav-hider
  font-size: 5em
  margin-left: .2rem
  padding: 0%
  top: 28vh
  width: 3%
  z-index: 1

  &:hover
    background-color: transparent

.nav-right
  height: 100%
  max-height: 1200px
  position: fixed
  right: 0
  top: 0
  width: inherit
  z-index: -1

  .a
    fill: $nav-background

  .b
    filter: url('#a')

.nav-right-back
  height: 100%
  max-height: 1200px
  position: fixed
  right: 0
  top: 0
  width: inherit
  z-index: -2

  .a
    fill: $nav-highlight

  .b
    filter: url('#a')

//Nav icons and page styling

.nav-icons
  height: 4vh
  max-height: 60px
  padding: 1vh 0 1vh .5vh
  position: relative
  right: -5%
  width: 100%

footer
  background-color: $flare-bars
  display: flex
  flex-direction: column
  font-size: 1.5em
  height: 100vh
  justify-content: space-between

  article
    h2,
    h6
      text-align: center

    p
      text-align: center

    button
      align-self: center
      margin: .1em

  form
    button
      align-self: center

//Input, labels, buttons
form
  align-self: center
  display: flex
  flex-direction: column
  justify-content: center
  padding: 2em
  text-align: center

footer > form
  background-color: $dark-background
  box-sizing: border-box
  overflow: hidden
  width: 100%

label
  margin: .2em
  padding-bottom: 1em

.text-area
  background-color: transparent
  border: 0
  border-bottom: 1px solid $nav-background
  color: $form-font
  height: 50%
  line-height: 1
  overflow: hidden
  resize: none
  width: 20%

input
  background-color: transparent
  border: 0
  border-bottom: 1px solid $nav-background
  box-sizing: border-box
  color: $form-font
  line-height: 1
  padding: .2em
  transition: border-color .2s
  width: 20%

  &:focus
    outline: none

.end
  h6
    background-image: url('../images/end.svg')
    background-position: center
    background-repeat: no-repeat
    font-size: .5em
    height: 50%
    line-height: 1em
    margin: 0
    padding: 5px

select
  &:focus
    outline: none

textarea
  &:focus
    outline: none

button
  background-color: transparent
  border: 1px solid $nav-background
  box-sizing: borderbox
  color: $form-font
  padding: 1em
  width: 20%

  &:hover
    background-color: $nav-background
    cursor: pointer

  &:focus
    outline: none

.resume
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 2vh

.active, .container a:hover
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%)
  background-color: $nav-highlight
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%)
  width: 100%

.work-details,
.uq-details,
.free-details,
.ato-details,
.liquor-details,
.peer-details,
.hello-details,
.rack-details
  animation: fade-in 4s
  display: none
  margin-left: 8em
  opacity: 1
  width: 70%



  ul
    margin-left: 4em

  li
    &:hover
      cursor: auto
      margin-left: 0

  &.show
    display: block

  img
    width: 40%

.rack-details,
.hello-details,
.peer-details
  margin-left: 10em

@keyframes fade-in
  0%
    opacity: 0

  100%
    opacity: 1


//Microsoft Edge Fixes
_:-ms-lang(x),
.nav-right
  width: initial

_:-ms-lang(x),
.nav-right-back
  width: initial

_:-ms-lang(x),
.container
  a
    width: 90%

_:-ms-lang(x),
.remove-from-ie
  display: none

//Nav bar firefox fix
@-moz-document url-prefix()
  .active, a:hover
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%)
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 2% 100%)
    height: 100%
    margin-left: 10px
    width: 13.5vw

  ::placeholder
    color: $form-grey


//gallery
.gallery

  margin-left: 1.5em
  width: 90%

  p
    margin-left: 0
    text-align: justify
    width: 87%

  img
    height: 100%
    margin: .5em
    transition: 2s
    width: 20%

    &:hover
      transform: scale(1.14)


.large-image
  margin-left: 1.5em
  width: 100%


//Logo and Animation

.logohead
  animation-duration: 3000ms
  animation-fill-mode: forwards
  animation-timing-function: steps(180)
  background-repeat: no-repeat
  height: 205px
  width: 100%

.logohead.playit
  animation-name: playanimation

_:-ms-lang(x),
.logohead
  animation-duration: 0ms
  animation-fill-mode: none
  animation-timing-function: steps(0)
  background-image: url('../images/fill.svg') !important

@keyframes playanimation
  0%
    background-position: 0 0

  100%
    background-position: -389520px 0


//Responsive Styling 
@media #{$tablet}
  nav
    display: none

  .spike-bottom
    display: none

  .title
    background-color: $flare-bars
    justify-content: space-between

  .logo
    margin: 2.3em 1em 2em 2em

  h1
    text-align: center

  h4
    margin-left: 0

  .logohead
    background-color: $flare-bars

  .text-area
    width: 40%


  .modal-link
    button
      width: 25%
      margin-top: 5%

  button
    width: 40%

  input
    width: 40%

  body
    background-image: none

  .remove-left
    margin-left: 6em !important

  .media-links
    flex-direction: column
    margin-left: 0%
    margin-top: .2em
    width: auto

    a
      height: 30%

  .mainpage
    li
      background-color: $flare-bars
      padding: .5em
      transform: skew(0deg)
      width: 100%

      p
        text-align: center

      &:hover + .peer-img
        display: none

      &:hover + .sayhello-img
        display: none

      &:hover + .rack-img
        display: none

      &:hover + .kenmore-img
        display: none

      &:hover + .uq-img
        display: none

      &:hover + .tutor-img
        display: none

      &:hover + .free-img
        display: none

      &:hover + .ato-img
        display: none

      &:hover + .liquor-img
        display: none

    a
      &:hover + .bigcrew-img
        display: none

  .behance-img
    left: 8%
    top: 40%
    width: 24rem

  .behance-vid
    height: 75%

  .work-details,
  .uq-details,
  .free-details,
  .ato-details,
  .liquor-details,
  .peer-details,
  .hello-details,
  .rack-details
    margin-left: 2em
    width: 85%

  @mixin margin-fix
    margin-left: -1em


  .education
    @include margin-fix
  .work
    @include margin-fix
  .past-projects
    @include margin-fix

    h2
      margin-left: 0%

  .personal-work
    @include margin-fix
    padding-left: 0%

    p
      width: 100%

    button
      margin-left: 2%

  .gallery
    margin-left: 1.5em
    width: 100%

    p
      width: 100%

  #footer
    height: 100%

  .end
    h6
      background-image: none


@media #{$phone}
  nav
    display: none

  .content
    margin-left: 3em
    width: 100%

  .logohead
    background-color: $flare-bars
    background-image: url('') !important
    height: inherit

  h1
    background-color: $flare-bars
    background-image: url('../images/logot.svg')
    background-position: center
    background-repeat: no-repeat
    font-size: 3.5em
    margin: auto
    padding: .5em
    padding-top: .3em
    text-align: center

  .title
    height: 100%

  .article-image
    width: 90% !important
    height: auto

  .arrow
    width: .8rem

  .spike-bottom
    display: none

  .text-area
    width: 60%

  button
    width: 60%

  input
    width: 60%

  body
    background-image: none

  .work-details,
  .uq-details,
  .free-details,
  .ato-details,
  .liquor-details,
  .peer-details,
  .hello-details,
  .rack-details
    margin-left: .1em

    p
      width: 90%

  .media-links
    display: none

  @mixin margin-fix-mobile
    margin-left: -2.5em


  .education
    @include margin-fix-mobile
  .work
    @include margin-fix-mobile
  .past-projects
    @include margin-fix-mobile

    h2
      margin-left: 0%

  .personal-work
    @include margin-fix-mobile

    p
      margin-left: 1em
      width: 94%

    button
      margin-bottom: 2%
      margin-left: 15%

  .gallery
    margin-left: .8em

    p
      margin-left: .5em
      width: 100%

    img
      width: 100%

  .logo
    display: none
    margin: 2.3em 1em 1em 2em
    width: 50px

  #footer
    height: 100%

  .mainpage
    font-size: 1em
    width: 100%

    a
      &:hover + .bigcrew-img
        display: none

      &:hover + .behance-img
        display: none

    li
      background-color: $flare-bars
      padding: .5em
      transform: skew(0deg)
      width: 100%

      &:hover + .peer-img
        display: none

      &:hover + .sayhello-img
        display: none

      &:hover + .kenmore-img
        display: none

      &:hover + .uq-img
        display: none

      &:hover + .rack-img
        display: none

      &:hover + .tutor-img
        display: none

      &:hover + .free-img
        display: none

      &:hover + .ato-img
        display: none

      &:hover + .liquor-img
        display: none

      p
        text-align: center

  form
    p
      font-size: .5em

  .end
    h6
      background-image: none

@media #{$laptop}
  #hider
    margin-left: 1.5rem

  .spike-bottom
    display: none

  .media-links
    display: flex
    margin-left: 5em
    margin-top: 2.5em
    width: 10%

    img
      height: 50%
      padding: 1em

  .mainpage

    li

      p
        text-align: center



@media #{$large-desktop}

  .resume
    margin-top: 10vh

  .media-links

    img
      height: 60%

  .tutor-img,
  .free-img,
  .ato-img,
  .liquor-img
    left: 52%

  .bigcrew-vid
    height: 78%
    left: 3.5%
    top: 16%

  .peer-img
    height: 50%
    left: 57%

  .sayhello-img
    height: 70%
    left: 57%

  .rack-img
    height: 60%
    left: 57%
    top: 35%

  .behance-img
    left: 6%
    top: 27.5%

  .behance-vid
    height: 90%
    top: 7%

  .kenmore-img,
  .uq-img
    left: 55%

  .personal-work
    margin-left: 5.3em
    padding-bottom: 1%

@media #{$height-fix}
  #footer
    height: 100%
