@import url("https://fonts.googleapis.com/css?family=Oswald");
@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf") format("truetype");
  src: url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff") format "woff";
  src: url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  background-image: url("../images/svgbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Geomanist', sans-serif;
  font-size: 1em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navigation {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  margin-left: 6em;
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  height: 205px;
}

.mainpage {
  font-size: 1.5em;
  font-weight: 400;
  height: 95%;
  margin: .5em;
  width: 88%;
}

.mainpage h2 {
  padding: .1em;
}

.mainpage h4 {
  color: #ff5252;
}

.mainpage ul {
  padding-left: 20px;
}

.mainpage ul a {
  color: #fff;
  text-decoration: none;
}

.mainpage ul a:visited {
  color: #fff;
}

.mainpage li {
  background-color: #111;
  list-style-type: none;
  margin: .2em;
  padding: 10px;
  -webkit-transform: skew(8deg);
          transform: skew(8deg);
  width: 45%;
}

.mainpage li p {
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
}

.mainpage li:hover {
  cursor: pointer;
  margin-left: .5em;
}

.mainpage li:hover .arrow {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 29vh;
  position: fixed;
  right: 0;
  top: 5vh;
  z-index: 1;
}

.container a {
  margin-bottom: -1%;
}

.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24em;
  margin-top: 4.5em;
  width: 10%;
}

.media-links a {
  max-width: 100px;
}

.media-links a img {
  height: 45%;
  padding: 1em;
}

.media-links a:hover {
  opacity: .5;
}

.behance-vid {
  height: 76%;
  left: 5%;
  position: relative;
  top: 7%;
}

.behance-img {
  background-image: url("../images/xdmockup.svg");
  background-repeat: no-repeat;
  display: none;
  height: 70%;
  left: 6.5%;
  position: absolute;
  top: 34%;
  width: 27%;
  z-index: 1;
}

.behance-hover {
  margin-left: 1.5em;
}

.behance-hover:hover + .behance-img {
  display: block;
}

.liquor-img {
  display: none;
  height: 60%;
  left: 55%;
  position: absolute;
  top: 47%;
}

.liquor-vid {
  height: 80%;
}

.liq-hover:hover + .liquor-img {
  display: block;
}

.ato-img {
  display: none;
  height: 60%;
  left: 55%;
  position: absolute;
  top: 30%;
}

.ato-vid {
  height: 80%;
}

.ato-hover:hover + .ato-img {
  display: block;
}

.free-img {
  display: none;
  height: 60%;
  left: 55%;
  position: absolute;
  top: 25%;
}

.free-vid {
  height: 80%;
}

.free-hover:hover + .free-img {
  display: block;
}

.tutor-img {
  display: none;
  height: 60%;
  left: 55%;
  position: absolute;
  top: 21%;
}

.tutor-vid {
  height: 80%;
}

.tutor-hover:hover + .tutor-img {
  display: block;
}

.bigcrew-vid {
  height: 59%;
  left: 3%;
  position: relative;
  top: 12%;
}

.bigcrew-img {
  background-image: url("../images/thebigcrewback.svg");
  background-repeat: no-repeat;
  display: none;
  height: 70%;
  position: absolute;
  right: 13%;
  top: 21%;
  width: 30%;
}

.bigcrew-hover:hover + .bigcrew-img {
  display: block;
}

.peer-img {
  display: none;
  height: 45%;
  position: absolute;
  right: 8%;
  top: 25%;
}

.peer-hover:hover + .peer-img {
  display: block;
}

.sayhello-img {
  display: none;
  height: 60%;
  position: absolute;
  right: 13%;
  top: 30%;
}

.say-hover:hover + .sayhello-img {
  display: block;
}

.rack-img {
  display: none;
  height: 50%;
  position: absolute;
  right: 14%;
  top: 45%;
}

.rack-hover:hover + .rack-img {
  display: block;
}

.kenmore-img {
  display: none;
  height: 70%;
  position: absolute;
  right: 14%;
  top: 20%;
}

.kenmore-hover {
  display: none;
}

.kenmore-hover:hover + .kenmore-img {
  display: block;
}

.uq-img {
  display: none;
  height: 90%;
  position: absolute;
  right: 14%;
  top: 20%;
}

.uq-hover:hover + .uq-img {
  display: block;
}

.bottom-divider {
  background-image: url("../images/bottom_cutoff.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.modal-link {
  color: #ff5252;
  text-decoration: none;
}

.gallery-dark {
  opacity: .5;
}

.settings-title {
  font-size: 2em;
  text-align: center;
}

.education {
  margin-left: .5em;
  max-height: 94%;
  position: relative;
  -webkit-transition: max-height .3s ease-in;
  transition: max-height .3s ease-in;
}

.hide-them-all {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
  z-index: -500;
  position: absolute;
}

.remove-left {
  margin-left: 0%;
}

.article-image {
  width: 98% !important;
  height: auto;
}

.active-selection {
  background-color: #c44747 !important;
  color: #fff;
}

.active-selection + .tutor-img {
  height: 100%;
}

.active-selection + .free-img {
  height: 100%;
}

.active-selection + .ato-img {
  height: 100%;
}

.active-selection + .liquor-img {
  height: 100%;
}

.active-selection + .peer-img {
  height: 100%;
}

.active-selection + .sayhello-img {
  height: 100%;
  left: 60%;
}

.active-selection + .rack-img {
  height: 100%;
  top: 10%;
}

.active-selection .arrow {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.active-selection .arrow path {
  stroke: #fff;
}

.work {
  margin-left: 1.6em;
  position: relative;
}

.past-projects {
  margin-left: 2.5em;
  position: relative;
}

.past-projects h2 {
  margin-left: 1.5em;
}

.personal-work {
  background-image: url("../images/personalworkback.svg");
  background-size: cover;
  margin-left: 5.6em;
  padding-left: 4%;
  position: relative;
}

.personal-work p {
  margin-left: 1.5em;
  width: 68%;
}

.arrow {
  display: inline-block;
  opacity: 0;
  padding-bottom: -5px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 1.2rem;
}

.arrow path {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  line-height: 1em;
  margin: .5em 0 1em;
  padding: .1em;
}

.logo {
  height: 100%;
  margin: 2.3em 2em 1em;
  width: 100px;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.changed {
  color: #ff5252 !important;
  margin-left: 60% !important;
}

#hider {
  border: 0;
  color: #7b2525;
  font-size: 5em;
  margin-left: .2rem;
  padding: 0%;
  top: 28vh;
  width: 3%;
  z-index: 1;
}

#hider:hover {
  background-color: transparent;
}

.nav-right {
  height: 100%;
  max-height: 1200px;
  position: fixed;
  right: 0;
  top: 0;
  width: inherit;
  z-index: -1;
}

.nav-right .a {
  fill: #ff5252;
}

.nav-right .b {
  -webkit-filter: url("#a");
          filter: url("#a");
}

.nav-right-back {
  height: 100%;
  max-height: 1200px;
  position: fixed;
  right: 0;
  top: 0;
  width: inherit;
  z-index: -2;
}

.nav-right-back .a {
  fill: #c44747;
}

.nav-right-back .b {
  -webkit-filter: url("#a");
          filter: url("#a");
}

.nav-icons {
  height: 4vh;
  max-height: 60px;
  padding: 1vh 0 1vh .5vh;
  position: relative;
  right: -5%;
  width: 100%;
}

footer {
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer article h2,
footer article h6 {
  text-align: center;
}

footer article p {
  text-align: center;
}

footer article button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: .1em;
}

footer form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  text-align: center;
}

footer > form {
  background-color: #111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

label {
  margin: .2em;
  padding-bottom: 1em;
}

.text-area {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ff5252;
  color: #fff;
  height: 50%;
  line-height: 1;
  overflow: hidden;
  resize: none;
  width: 20%;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ff5252;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  line-height: 1;
  padding: .2em;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  width: 20%;
}

input:focus {
  outline: none;
}

.end h6 {
  background-image: url("../images/end.svg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: .5em;
  height: 50%;
  line-height: 1em;
  margin: 0;
  padding: 5px;
}

select:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: 1px solid #ff5252;
  -webkit-box-sizing: borderbox;
          box-sizing: borderbox;
  color: #fff;
  padding: 1em;
  width: 20%;
}

button:hover {
  background-color: #ff5252;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vh;
}

.active, .container a:hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
  background-color: #c44747;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
  width: 100%;
}

.work-details,
.uq-details,
.free-details,
.ato-details,
.liquor-details,
.peer-details,
.hello-details,
.rack-details {
  -webkit-animation: fade-in 4s;
          animation: fade-in 4s;
  display: none;
  margin-left: 8em;
  opacity: 1;
  width: 70%;
}

.work-details ul,
.uq-details ul,
.free-details ul,
.ato-details ul,
.liquor-details ul,
.peer-details ul,
.hello-details ul,
.rack-details ul {
  margin-left: 4em;
}

.work-details li:hover,
.uq-details li:hover,
.free-details li:hover,
.ato-details li:hover,
.liquor-details li:hover,
.peer-details li:hover,
.hello-details li:hover,
.rack-details li:hover {
  cursor: auto;
  margin-left: 0;
}

.work-details.show,
.uq-details.show,
.free-details.show,
.ato-details.show,
.liquor-details.show,
.peer-details.show,
.hello-details.show,
.rack-details.show {
  display: block;
}

.work-details img,
.uq-details img,
.free-details img,
.ato-details img,
.liquor-details img,
.peer-details img,
.hello-details img,
.rack-details img {
  width: 40%;
}

.rack-details,
.hello-details,
.peer-details {
  margin-left: 10em;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

_:-ms-lang(x),
.nav-right {
  width: initial;
}

_:-ms-lang(x),
.nav-right-back {
  width: initial;
}

_:-ms-lang(x) a,
.container a {
  width: 90%;
}

_:-ms-lang(x),
.remove-from-ie {
  display: none;
}

@-moz-document url-prefix() {
  .active, a:hover {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 2% 100%);
    height: 100%;
    margin-left: 10px;
    width: 13.5vw;
  }
  ::placeholder {
    color: #e1e5f0;
  }
}

.gallery {
  margin-left: 1.5em;
  width: 90%;
}

.gallery p {
  margin-left: 0;
  text-align: justify;
  width: 87%;
}

.gallery img {
  height: 100%;
  margin: .5em;
  -webkit-transition: 2s;
  transition: 2s;
  width: 20%;
}

.gallery img:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.large-image {
  margin-left: 1.5em;
  width: 100%;
}

.logohead {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: steps(180);
          animation-timing-function: steps(180);
  background-repeat: no-repeat;
  height: 205px;
  width: 100%;
}

.logohead.playit {
  -webkit-animation-name: playanimation;
          animation-name: playanimation;
}

_:-ms-lang(x),
.logohead {
  animation-duration: 0ms;
  animation-fill-mode: none;
  animation-timing-function: steps(0);
  background-image: url("../images/fill.svg") !important;
}

@-webkit-keyframes playanimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -389520px 0;
  }
}

@keyframes playanimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -389520px 0;
  }
}

@media (min-width: 768px) and (max-width: 1749px) {
  nav {
    display: none;
  }
  .spike-bottom {
    display: none;
  }
  .title {
    background-color: #1a1a1a;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    margin: 2.3em 1em 2em 2em;
  }
  h1 {
    text-align: center;
  }
  h4 {
    margin-left: 0;
  }
  .logohead {
    background-color: #1a1a1a;
  }
  .text-area {
    width: 40%;
  }
  .modal-link button {
    width: 25%;
    margin-top: 5%;
  }
  button {
    width: 40%;
  }
  input {
    width: 40%;
  }
  body {
    background-image: none;
  }
  .remove-left {
    margin-left: 6em !important;
  }
  .media-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0%;
    margin-top: .2em;
    width: auto;
  }
  .media-links a {
    height: 30%;
  }
  .mainpage li {
    background-color: #1a1a1a;
    padding: .5em;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    width: 100%;
  }
  .mainpage li p {
    text-align: center;
  }
  .mainpage li:hover + .peer-img {
    display: none;
  }
  .mainpage li:hover + .sayhello-img {
    display: none;
  }
  .mainpage li:hover + .rack-img {
    display: none;
  }
  .mainpage li:hover + .kenmore-img {
    display: none;
  }
  .mainpage li:hover + .uq-img {
    display: none;
  }
  .mainpage li:hover + .tutor-img {
    display: none;
  }
  .mainpage li:hover + .free-img {
    display: none;
  }
  .mainpage li:hover + .ato-img {
    display: none;
  }
  .mainpage li:hover + .liquor-img {
    display: none;
  }
  .mainpage a:hover + .bigcrew-img {
    display: none;
  }
  .behance-img {
    left: 8%;
    top: 40%;
    width: 24rem;
  }
  .behance-vid {
    height: 75%;
  }
  .work-details,
  .uq-details,
  .free-details,
  .ato-details,
  .liquor-details,
  .peer-details,
  .hello-details,
  .rack-details {
    margin-left: 2em;
    width: 85%;
  }
  .education {
    margin-left: -1em;
  }
  .work {
    margin-left: -1em;
  }
  .past-projects {
    margin-left: -1em;
  }
  .past-projects h2 {
    margin-left: 0%;
  }
  .personal-work {
    margin-left: -1em;
    padding-left: 0%;
  }
  .personal-work p {
    width: 100%;
  }
  .personal-work button {
    margin-left: 2%;
  }
  .gallery {
    margin-left: 1.5em;
    width: 100%;
  }
  .gallery p {
    width: 100%;
  }
  #footer {
    height: 100%;
  }
  .end h6 {
    background-image: none;
  }
}

@media (min-width: 310px) and (max-width: 767px) {
  nav {
    display: none;
  }
  .content {
    margin-left: 3em;
    width: 100%;
  }
  .logohead {
    background-color: #1a1a1a;
    background-image: url("") !important;
    height: inherit;
  }
  h1 {
    background-color: #1a1a1a;
    background-image: url("../images/logot.svg");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 3.5em;
    margin: auto;
    padding: .5em;
    padding-top: .3em;
    text-align: center;
  }
  .title {
    height: 100%;
  }
  .article-image {
    width: 90% !important;
    height: auto;
  }
  .arrow {
    width: .8rem;
  }
  .spike-bottom {
    display: none;
  }
  .text-area {
    width: 60%;
  }
  button {
    width: 60%;
  }
  input {
    width: 60%;
  }
  body {
    background-image: none;
  }
  .work-details,
  .uq-details,
  .free-details,
  .ato-details,
  .liquor-details,
  .peer-details,
  .hello-details,
  .rack-details {
    margin-left: .1em;
  }
  .work-details p,
  .uq-details p,
  .free-details p,
  .ato-details p,
  .liquor-details p,
  .peer-details p,
  .hello-details p,
  .rack-details p {
    width: 90%;
  }
  .media-links {
    display: none;
  }
  .education {
    margin-left: -2.5em;
  }
  .work {
    margin-left: -2.5em;
  }
  .past-projects {
    margin-left: -2.5em;
  }
  .past-projects h2 {
    margin-left: 0%;
  }
  .personal-work {
    margin-left: -2.5em;
  }
  .personal-work p {
    margin-left: 1em;
    width: 94%;
  }
  .personal-work button {
    margin-bottom: 2%;
    margin-left: 15%;
  }
  .gallery {
    margin-left: .8em;
  }
  .gallery p {
    margin-left: .5em;
    width: 100%;
  }
  .gallery img {
    width: 100%;
  }
  .logo {
    display: none;
    margin: 2.3em 1em 1em 2em;
    width: 50px;
  }
  #footer {
    height: 100%;
  }
  .mainpage {
    font-size: 1em;
    width: 100%;
  }
  .mainpage a:hover + .bigcrew-img {
    display: none;
  }
  .mainpage a:hover + .behance-img {
    display: none;
  }
  .mainpage li {
    background-color: #1a1a1a;
    padding: .5em;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    width: 100%;
  }
  .mainpage li:hover + .peer-img {
    display: none;
  }
  .mainpage li:hover + .sayhello-img {
    display: none;
  }
  .mainpage li:hover + .kenmore-img {
    display: none;
  }
  .mainpage li:hover + .uq-img {
    display: none;
  }
  .mainpage li:hover + .rack-img {
    display: none;
  }
  .mainpage li:hover + .tutor-img {
    display: none;
  }
  .mainpage li:hover + .free-img {
    display: none;
  }
  .mainpage li:hover + .ato-img {
    display: none;
  }
  .mainpage li:hover + .liquor-img {
    display: none;
  }
  .mainpage li p {
    text-align: center;
  }
  form p {
    font-size: .5em;
  }
  .end h6 {
    background-image: none;
  }
}

@media (min-width: 1750px) and (max-width: 1987px) {
  #hider {
    margin-left: 1.5rem;
  }
  .spike-bottom {
    display: none;
  }
  .media-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5em;
    margin-top: 2.5em;
    width: 10%;
  }
  .media-links img {
    height: 50%;
    padding: 1em;
  }
  .mainpage li p {
    text-align: center;
  }
}

@media (min-width: 1988px) and (max-width: 3840px) {
  .resume {
    margin-top: 10vh;
  }
  .media-links img {
    height: 60%;
  }
  .tutor-img,
  .free-img,
  .ato-img,
  .liquor-img {
    left: 52%;
  }
  .bigcrew-vid {
    height: 78%;
    left: 3.5%;
    top: 16%;
  }
  .peer-img {
    height: 50%;
    left: 57%;
  }
  .sayhello-img {
    height: 70%;
    left: 57%;
  }
  .rack-img {
    height: 60%;
    left: 57%;
    top: 35%;
  }
  .behance-img {
    left: 6%;
    top: 27.5%;
  }
  .behance-vid {
    height: 90%;
    top: 7%;
  }
  .kenmore-img,
  .uq-img {
    left: 55%;
  }
  .personal-work {
    margin-left: 5.3em;
    padding-bottom: 1%;
  }
}

@media (max-height: 900px) {
  #footer {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */